.App {
  display: flex;
}

.header {
  padding: 10px;
  border-bottom: 1px solid #dddddd;
  box-shadow: 0 3px 5px -2px rgba(0,0,0,1);
}

.side-bar {
  width: 150px;
  height: 100vh;
  background-color: #333;
}

.side-bar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.side-bar li {
  padding: 10px;
  margin-bottom: 5px;
  transition: background-color 400ms ease-in;
}

.side-bar li:hover {
  background-color: darkkhaki;
}

.side-bar a {
  text-decoration: none;
  color: #fff;
}

.app-body {
  position: relative;
  flex: 1;
}
